{{#resume.basics}}
    <div id='name' >
        <img src="{{image}}" class="name__profile-image"></img>
        <span class='resume__large-font '>
            {{name}}
        </span>
        </br>
    </div>

    {{#if label}}
        <span class='resume__uppercase'>{{label}}</span>
    {{/if}}
    <div id='basicsBlock' class='smallFont'>
        <div class='contactBlock'>
            {{#if email}}
                <span class='email'>{{email}}</span>
            {{/if}}
            {{#if phone}}
                <span class='divider'>|</span>
                <span class='phone'>{{phone}}</span>
            {{/if}}
            {{#location}}
                <span class='divider'>|</span>
                <span class='address'>
                    {{#if address}}{{address}}{{/if}}{{#if city}}, {{city}}{{/if}}{{#if postalCode}} {{postalCode}}{{/if}}{{#if countryCode}}, {{countryCode}}{{/if}}
                </span>
            {{/location}}
        </div>
        {{#if profiles.length}}
            <div>
                {{#each profiles}}
                    {{#if url}}
                        <span>
                            <b><a href='{{url}}'>{{network}}</a></b>
                        </span>
                        {{#unless @last}}<span class='divider'>|</span>{{/unless}}
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    </div>
{{/resume.basics}}

{{#if resume.basics.summary}}
    <div id='summaryBlock' class="resume__section-block">
        <div class='resume__section-content'>
            <span>{{resume.basics.summary}}</span>
        </div>
    </div>
{{/if}}
