{{#if resume.certificates.length}}
    <div id='certificates' class="resume__section-block">
        <div class='resume__section-content'>
            <span class="resume__uppercase">{{i18n "certificates"}}</span>
            <hr/>
            {{#each resume.certificates}}
                <div class="resume__margin-bottom">
                    <span class='resume__bold'>
                        {{#if name}}{{name}}{{/if}}
                    </span>
                    {{#if issuer}} | <span class="issuer">{{issuer}}</span>{{/if}}
                    {{#if date}}
                        <span class='resume__date'>
                            <span class='date'>{{formatDate date}}</span>
                        </span>
                    {{/if}}
                </div>
                {{#if url}}
                    <div class='url'>
                        <a href='{{url}}'>{{url}}</a>
                    </div>
                {{/if}}
                {{#if summary}}
                    <div class="summary">
                        <p>{{summary}}</p>
                    </div>
                {{/if}}
                {{#unless @last}}<div class='separator'></div>{{/unless}}
            {{/each}}
        </div>
    </div>
{{/if}}
