{{#if resume.education.length}}
<div id='education' class="resume__section-block">
	<div class="resume__section-content">
		<span class="resume__uppercase">{{i18n "education"}}</span>
        <hr/>
		{{#each resume.education}}
		<div >
			<span class='resume__bold'>
				{{#if institution}}{{institution}}{{/if}}
			</span>
			{{#if startDate}}
			<span class='resume__date'>
				{{#if startDate}}{{formatDate startDate}}{{/if}} - {{#if endDate}}{{formatDate endDate}}{{else}}Present{{/if}}
			</span>
			{{/if}}
			<div class=''>
				{{#if studyType}}{{studyType}} {{/if}} - {{#if area}}{{area}}{{/if}}{{#if gpa}}, {{i18n "score"}}: {{gpa}}{{/if}}
			</div>
			{{#if courses.length}}
			<div id='coursesBlock'>
				{{#each courses}}
				<ul class='coursesList'>
					{{#each .}}
					<li class='course'>{{.}}</li>
					{{/each}}
				</ul>
				{{/each}}
			</div>
			{{/if}}
		</div>
		{{#unless @last}}<div class='separator'></div>{{/unless}}
		{{/each}}
	</div>
</div>
{{/if}}
