{{#if resume.publications.length}}
    <div id='publications' class="resume__section-block">
        <div class='resume__section-content'>
            <span class="resume__uppercase">{{i18n "publications"}}</span>
            <hr>
            {{#each resume.publications}}
                <div class="resume__margin-bottom">
                    <span class='resume__bold'>
                        {{#if name}}{{name}}{{/if}}
                    </span>
                    {{#if releaseDate}}
                        <span class='resume__date'>
                            <span class='releaseDate'>{{formatDate releaseDate}}</span>
                        </span>
                    {{/if}}
                    {{#if publisher}}
                        <div class="publisher">{{publisher}}</div>
                    {{/if}}
                    {{#if url}}
                        <div class='url'>
                            <a href='{{url}}'>{{url}}</a>
                        </div>
                    {{/if}}
                    {{#if summary}}
                        <div class="summary">
                            <p>{{summary}}</p>
                        </div>
                    {{/if}}
                </div>

                {{#unless @last}}<div class='separator'></div>{{/unless}}
            {{/each}}
        </div>
    </div>
{{/if}}
