{{#if resume.skills.length}}
<div id='skills' class="resume__section-block">
	<div class='resume__section-content'>
		<span class="resume__uppercase">{{i18n "skills"}}</span>
        <hr/>
		{{#each resume.skills}}
		<div class='skillBlock'>
			<span class='resume__bold'>{{#if name}}{{name}}{{/if}}{{#if level}} <em>({{level}})</em>{{/if}}:</span>
			{{#if keywords.length}}
			{{#each keywords}}
			<span>{{.}}</span>{{#unless @last}}, {{/unless}}
			{{/each}}
			{{/if}}
			{{#if details.length}}
			{{#each details}}
			<span>{{#if text}}{{text}}{{/if}}{{#if comment}} <em>({{comment}})</em>{{/if}}{{#unless @last}},
				{{/unless}}</span>
			{{/each}}
			{{/if}}
		</div>
		{{/each}}
	</div>
</div>
{{/if}}
