{{#if resume.volunteer.length}}
<div id='volunteer' class="resume__section-block">
	<div class='resume__section-content'>
		<span class="resume__uppercase">VOLUNTEERING</span>
        <hr/>
		{{#each resume.volunteer}}
		<div class='blockHeader'>
            <a href="{{url}}" class='resume__bold'>{{#if organization}}{{organization}}{{/if}}{{#if position}} - {{position}}{{/if}}</a>
			{{#if startDate}}
			<span class='resume__date'>
				{{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
			</span>
			{{/if}}
			{{#if url}}
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
			{{#if highlights.length}}
			<ul class='highlights'>
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{#unless @last}}<div class='separator'></div>{{/unless}}
		{{/each}}
	</div>
</div>
{{/if}}
