{{#if resume.work.length}}
<div id='workBlock' class="sectionBlock">
	<div >
		<span class="resume__uppercase">{{i18n "experience"}}</span>
        <hr/>
		{{#each resume.work}}
		<div class="resume__jobblock">
			<div>
                <a href='{{url}}' class='resume__bold'>{{#if name}}{{name}}{{/if}}</a>
				{{#if position}} | <span class="position">{{position}}</span>{{/if}}
				{{#if startDate}}
				<span class='resume__date'>
					{{#if startDate}}{{formatDate startDate}}{{/if}} - {{#if endDate}}{{formatDate
					endDate}}{{else}}{{i18n "present"}}{{/if}}
				</span>
				{{/if}}
			</div>
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
			{{#if highlights.length}}
            <span class="resume__bold">{{i18n "highlights"}}:</span>
			<ul class='highlights'>
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
			{{#unless @last}}<div class='separator'></div>{{/unless}}
		</div>
		{{/each}}
	</div>
</div>
{{/if}}
